.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

app-data

.env
.env.local
.env.*
!.env.example
*.pem
*.key

*.log
*.log*
logs/
tmp/
temp/

node_modules/
vendor/
dist/
build/
target/
bin/
obj/
/public/build/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.idea/

*.sublime-project
*.sublime-workspace

__pycache__/
*.pyc
venv/
.venv/
env/
.env/
pip-wheel-metadata/
*.egg-info/

*.zip
*.rar
*.tar
*.gz

*.sqlite
*.sqlite3
*.db
